---
import BaseLayout from "../layouts/BaseLayout.astro";
import ArticleCardScrollContainer from "../components/ArticleCardScrollContainer.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="h-[100px]"></div>
    <ArticleCardScrollContainer />
    <br />
    <h2>tags:</h2>
    <div class="flex gap-4">
        {tags.map((tag) => <a href={`/tags/${tag}`}>{tag}</a>)}
    </div>
    <div class="h-[300px]"></div>
</BaseLayout>
